<div id='sidebar'>
  <div class='panel'>
    <% if (locals.user || locals.current_user) { %>
      <div class='header'>
        <span class='col_fade'>个人信息<span>
      </div>
      <div class='inner'>
        <%- partial('user/card',{ object: locals.user || locals.current_user, as: 'user' }) %>
      </div>
      <% } else { %>
      <div class='inner'>
        <p style="margin-bottom: 12px"><%= config.description %></p>
        <div>
          <a href='/<%= config.context %>/signup'><div class='btn btn-success'>现在注册</div></a>
          <span style="margin-left: 12px">已注册用户请<a class='light' href='/<%= config.context %>/signin'> 登录</a></span>
        </div>
      </div>
    <% } %>
  </div>

  <% if (locals.no_reply_topics) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>无人回复的话题</span>
    </div>
    <div class='inner'>
      <% if (no_reply_topics.length > 0) { %>
      <ul>
      <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
      </ul>
      <% } else {  %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.tops) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>积分榜</span>
      &nbsp;
      <a class='dark' href='/<%= config.context %>/users/top100'>TOP 100 &gt;&gt;</a>
    </div>
    <div class='inner'>
      <% if (tops.length > 0) { %>
      <ol>
      <%- partial('user/top', { collection: tops, as: 'user' }) %>
      </ol>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.stars) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>论坛达人</span> &nbsp;
      <a class='dark' href='/<%= config.context %>/stars'>更多»</a>
    </div>
    <div class='inner'>
      <% if (stars.length > 0) { %>
      <ul class='unstyled'>
      <%- partial('user/star', { collection: stars, as: 'user' }) %>
      </ul>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

</div>
